/* table container 
css */

.RT-table-select-container {
  background-color: #ebf0eb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px 15px 10px;
  border: 0;
}

.RT-table-title-container {
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.RT-table-title {
  font-weight: bold;
  font-size: 1.1em;
  align-items: center;
  margin-right: 10px;
}

.location-and-unit {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.RT-graph-location-dropdown {
  position: relative;
}

.dropdown-title {
  text-align: center;
  align-items: center;
  color: black;
  font-size: 1.1em;
  border: none;
  font-size: 0.8em;
  align-items: center;
  display: flex;
}

.dropdown .dropbtn {
  align-items: center;
  color: black;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 7px;
  width: 100px;
  /* height: 25px; */
  font-size: 0.8em;
  align-items: center;
  margin-left: 10px;
}

.dropdown-content {
  font-size: 0.8em;
}

.time-dropdown {
  display: flex;
  width: 120px;
  padding: 8px;
  margin-right: 5px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #fff;
  border-color: transparent;
  cursor: pointer;
  align-items: center;
}

.RT-table-location,
.RT-table-unit,
.RT-table-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-datepicker__navigation--next {
  left: 200px;
}

.react-datepicker__navigation--previous {
  right: 50px;
}

/*
Table CSS
*/

table {
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
}

tfoot {
  background-color: #eee;
}

td .isWorse {
  background-color: rgba(187, 115, 115);
  padding: 0 0;
}

td .isBad {
  background-color: rgba(215, 224, 103);
  padding: 0 0;
}

td .isNormal {
  background-color: rgba(110, 176, 87);
  padding: 0 0;
}

td .isGood {
  background-color: rgba(125, 157, 219);
  padding: 0 0;
}

th,
td {
  position: relative;
  padding: 8px 8px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

th,
td:last-child {
  border-right: none;
}

th {
  border-bottom: 1px solid lightgray;
  background-color: rgba(245, 251, 246);
}

.search-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.RT-table-select-container p {
  font-weight: bold;
  margin-right: 8px;
  margin: 15px;
}

@media screen and (max-width: 900px) {
  .RT-table-select-container {
    flex-direction: column;
    padding-top: 10px;
  }
  .location-and-unit {
    flex-direction: column;
    width: 100%;
  }
  .RT-table-location {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .RT-table-unit {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .RT-table-time {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .time-dropdown {
    justify-content: space-between;
    /* 왜 100%로 하면 상위 div바깥으로 삐져나가는지 모르겠다. datePicker문제인가?! */
    width: 98%;
    margin: 0px 0px 5px 0px;
  }

  .RT-table-select-container p {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}