.SD-select {
  background-color: #ebf0eb;
  padding: 20px 10px 10px 10px;
}

.SD-graph-title {
  font-weight: bold;
  font-size: 1.1em;
}

.SD-select-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.SD-select-container p {
  font-weight: bold;
}

/* 오늘 일자 css */
.current-date {
  font-size: 0.8em;
  font-weight: bold;
}

.SD-select-comp {
  display: flex;
  align-items: center;
}

.SD-select p {
  margin-right: 10px;
}

.SD-select-comp-sizedBox {
  width: 5px;
  height: 0px;
}

.SD-select-location {
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
}

.location-buttons-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Buttons wrap to the next line if necessary */
  justify-content: center; /* Center buttons horizontally */
}

.location-title {
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
}

@media screen and (max-width: 900px) {
  .SD-select {
    padding: 10px 10px 15px 10px;
  }
  .SD-select-container {
    flex-direction: column;
  }
  .SD-select-comp {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .SD-select p {
    margin-bottom: 5px;
  }
  .SD-select-comp-sizedBox {
    width: 0px;
    height: 5px;
  }

  .SD-select p {
    margin-top: 10px;
    margin-right: 10px;
  }
}
