.SD-select {
  background-color: #ebf0eb;
  padding: 10px;
}

.SD-graph-title {
  font-weight: bold;
  font-size: 1.1em;
}

.SD-select-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.SD-select-container p {
  font-weight: bold;
}

/* 오늘 일자 css */
.current-date {
  font-size: 0.8em;
  font-weight: bold;
}

.SD-select-comp {
  display: flex;
  align-items: center;
}

.SD-select-location {
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
}

.location-buttons-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Buttons wrap to the next line if necessary */
  justify-content: center; /* Center buttons horizontally */
}

.location-title {
  font-weight: bold;
  text-align: center;
}