.SM-select {
  background-color: #ebf0eb;
  padding: 20px 10px 10px 10px;
}

.SM-graph-title {
  font-weight: bold;
  font-size: 1.1em;
}

.SM-select-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.SM-select-container p {
  font-weight: bold;
}

/* 오늘 일자 css */
.current-date {
  font-size: 0.8em;
  font-weight: bold;
}

.SM-select-comp {
  display: flex;
  align-items: center;
}

.SM-select p {
  margin-right: 10px;
}

.location-title {
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
}

.location-buttons-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Buttons wrap to the next line if necessary */
  justify-content: start; /* Center buttons horizontally */
}

.location-container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .SM-select {
    padding: 10px 10px 15px 10px;
  }
  .SM-select-container {
    flex-direction: column;
  }
  .SM-select-comp {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .SM-select p {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
