/* table container 
css */

.RT-graph-select-container {
    background-color: #ebf0eb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    border: 0;
  }
  
  .RT-graph-title-container {
    padding: 10px 0;
  }
  
  .RT-graph-title {
    font-weight: bold;
    font-size: 1.1em;
    align-items: center;
  }
  
  .location-and-substance {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
