.RT-container{
    max-width: 1000px;
    margin: 0 auto; /* 좌우 마진을 auto */
}

.RT-title{
    font-size: 1.5em;
    text-align: center;
    margin: 20px;
}

.RT-content-container{
    border: 1px solid #d3d3d3;
    padding: 20px;
}

.RT-hr{
    border: none; 
    height: 2px;
    background-color: #d3d3d3; 
    margin-top: 20px;
}

@media screen and (max-width: 450px) {
    .RT-title {
        font-size: 1.2em;
    }

    .x-scroll {
        overflow-x: scroll;
    }
}