.RT-graph{
    
}
.RT-graph-title {
    font-weight: bold;
    font-size: 1.1em;
}

.RT-graph-select-container{
    background-color: #EBF0EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.RT-graph-select-container p{
    font-weight: bold;
}

.RT-graph-location {
    display: flex;
    align-items: center;
}

.RT-graph-matter {
    display: flex;
    align-items: center;
}

/* 오늘 일자 css */
.current-date{
    font-size: 0.8em;
    font-weight: bold;
}

/* 측정위치 css */
.RT-graph-location-dropdown{
    position: relative;
}

.RT-graph-location-dropdown .menu {
    border: none;
    background-color: white;
    border-radius: 7px;
    padding: 5px 10px;
    width: 100px;
    margin-left: 10px;
    display: flex;
    justify-content:space-between;
}

.RT-graph-location-dropdown .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: inherit;
    border: 1px solid #E9E9E9;
    border-radius: 7px;
    margin-left: 9px;
    background-color: white;
}

.RT-graph-location-dropdown .options Button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    width: 100px;
    border-radius: 7px;
    text-align: left;
}


/* 측정물질 css */
.RT-graph-matter-dropdown{
    position: relative;
}

.RT-graph-matter-dropdown .menu {
    border: none;
    background-color: white;
    border-radius: 7px;
    padding: 5px 10px;
    width: 120px;
    margin-left: 10px;
    display: flex;
    justify-content:space-between;
}

.RT-graph-matter-dropdown .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: inherit;
    border: 1px solid #E9E9E9;
    border-radius: 7px;
    margin-left: 9px;
    background-color: white;
}

.RT-graph-matter-dropdown .options Button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    width: 120px;
    border-radius: 7px;
    text-align: left;
}
