.legend-info {
  margin-top: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px #afafaf;
  height: auto;
  width: 100%;
  background-color: #f8f8f8;
  opacity: 90%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.legend-title {
  font-size: medium;
}

.legend-title .option {
  font-weight: bold;
}

.legend-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-content .legend-option-status {
  margin-right: 10px;
  font-size: small;
}

.legend-option-status .good {
  color: white;
  background-color: #7d9ddb;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.legend-option-status .normal {
  color: white;
  background-color: #6eb057;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.legend-option-status .bad {
  color: white;
  background-color: #d7e067;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.legend-option-status .worse {
  color: white;
  background-color: #bb7373;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.legend-content .legend-option-value {
  font-size: small;
}

.legend-option-value .good {
  padding: 5px;
}

.legend-option-value .normal {
  padding: 5px;
}

.legend-option-value .bad {
  padding: 5px;
}

.legend-option-value .worse {
  padding: 5px;
}
