/*
Table CSS
*/

table {
    width: 100%;
    min-width: 400px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  tfoot {
    background-color: #eee;
  }
  
  td .isWorse {
    background-color: rgba(187, 115, 115);
    padding: 0 0;
  }
  
  td .isBad {
    background-color: rgba(215, 224, 103);
    padding: 0 0;
  }
  
  td .isNormal {
    background-color: rgba(110, 176, 87);
    padding: 0 0;
  }
  
  td .isGood {
    background-color: rgba(125, 157, 219);
    padding: 0 0;
  }
  
  th,
  td {
    position: relative;
    padding: 8px 8px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  
  th,
  td:last-child {
    border-right: none;
  }
  
  th {
    border-bottom: 1px solid lightgray;
    background-color: rgba(245, 251, 246);
  }

  @media screen and (max-width: 450px) {
    th {
      font-size: 0.7em;
    }

    th,
    td {
      padding: 3px 3px;
    }

    td {
      width: 1px;
    }

    table {
      font-size: 8px;
    }
  }