.download-button {
    float: right;
    border: none;
    background-color: white;
    color: rgba(85,183,107);
    padding: 10px;
    display: flex;
    width: 170px;
}

.download-button:hover{
    cursor: pointer;
}

.file {
    margin-left: 10px;
}

