.RT-graph{
    
}
.RT-graph-title {
    font-weight: bold;
    font-size: 1.1em;
}

.RT-graph-select-container{
    background-color: #EBF0EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.RT-graph-select-container p{
    font-weight: bold;
    margin-right: 10px;
}

/* 오늘 일자 css */
.current-date{
    font-size: 0.8em;
    font-weight: bold;
}

.RT-graph-location , .RT-graph-matter {
    display: flex;
    align-items: center;
}

.RT-graph-dropdown select {
    border:none;
    width: 100%;
}

.RT-graph-dropdown{
    width: 100px;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #fff;
    border-color: transparent;
    cursor: pointer;
}