
.SD-select-location {
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
  }

.location-buttons-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Buttons wrap to the next line if necessary */
  justify-content: center; /* Center buttons horizontally */
}

li {
  list-style-type: none;
  display: inline-block; 
}

.location-button {
  border: none;
  background-color: white;
  width: 100px;
  padding: 7px;
  margin: 5px 5px;
  color: black;
}

.location-button:hover {
  color: #55B6A7;
}

.location-button-active {
  border: 2px solid rgba(85, 183, 107);
  background-color: white;
  width: 100px;
  padding: 5px;
  margin: 5px 5px;
  color: black;
}