.search-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.search-btn {
  background-color: rgba(85, 183, 107);
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
