.main-container {
    position: relative;
    width: 100%;
}

.map {
    width: 85%;
    height: auto;
}

.building-image-container img {
    filter: drop-shadow(4px 4px 5px white);
}

.building-image-container img:hover {
    filter: drop-shadow(2px 2px 2px #55B76B);
}

.student_building {
    position: absolute;
    width: 11%;
    top: 32.5%;
    left: 39.5%;
}

.grace_building {
    position: absolute;
    width: 8.6%;
    top: 5.4%;
    left: 55%;
}


.info-container {
    position: absolute;
    top: 5%;
    right: 0%;

    width: 450px;
}

.node-info {
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #afafaf;
    height: 500px;
    width: 100%;
    background-color: white;
    opacity: 90%;
}

.legend-info {
    margin-top: 20px;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #afafaf;
    height: auto;
    width: 100%;
    background-color: #F8F8F8;
    opacity: 90%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.legend-title {
    font-size:medium;
}

.legend-title .option {
    font-weight: bold;
}

.legend-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-content .legen-option-status {
    margin-right: 10px;
    font-size: small;
}

.legen-option-status .good {
    color: white;
    background-color: #7D9DDB;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.legen-option-status .normal {
    color: white;
    background-color: #6EB057;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.legen-option-status .bad {
    color: white;
    background-color: #D7E067;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.legen-option-status .worse {
    color: white;
    background-color: #BB7373;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.legend-content .legen-option-value {
    font-size: small;
}

.legen-option-value .good{
    padding: 5px;
}

.legen-option-value .normal{
    padding: 5px;
}

.legen-option-value .bad{
    padding: 5px;
}

.legen-option-value .worse{
    padding: 5px;
}

.option-container {
    margin: auto;
    position: absolute;
    top: 5%;
    left: 0%;
    width: 300px;
}

.option-container button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0;
    
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 4px 0px #afafaf;

    font-size:medium;
    font-weight: bold;
}

.option-container button:last-child {
    margin-bottom: 0;
}


button.active {
    background-color: #55B76B;
    color: white; 
    border: none;
}