.footer-container {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100; 
        height: (footer높이);
        position : relative;
        transform : translateY(-100%);
}

.CU {
    text-align: left;
    margin: 15px;
    font-size: 20px; 
    font-weight: bold;
}

.footer-content {
    text-align: left;
    margin: 10px;
    font-size: 15px;
}

#copy {
    text-align: center;
    color: gray;
}


.mail_content {
    display: flex;
    vertical-align: top; 
    align-items: center;
    margin-right: 20px
}

.mail {
    margin: 10px;
    width: 15px;
    height: 15px;
}

.location {
    margin: 10px;
    width: 15px;
    height: 18px;
}