/* NavigationBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 60px;

    /* navigationbar 높이 수정 필요 */
    height: 60px;
}


.nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}


.nav-links li {
    margin-left: 5vw;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.nav-link:hover{
    color: #D9D9D9;
}

.nav-link-active {
    text-decoration: none;
    color: #55B76B;
}

.nav-links li button{
    border: none;
    background-color: white;
    font-size: 1em;
    padding: 0;
}

.nav-links li button:hover{
    cursor: pointer;
}

.nav-item {
    position: relative;
}

.nav-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    width:max-content;
   
    /* transform: translateX(30%);  */
    /* 버튼 바로 아래에 표시 */
    left: -10px;
    /* background-color: white; */
    /* z-index: 100; */
    /* font-size: 0.8em; */
    border: 1px solid #D9D9D9;
    border-top: none;
    padding: 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.nav-item:hover .nav-dropdown {
    display: flex;
    flex-direction: column;
}

.nav-dropdown:hover {
    display: flex;
    flex-direction: column;
}

.nav-dropdown hr{
    width: 60px;
    background-color: #d3d3d3;
    height: 1px;
    border: none;
}


